{{#if name}}
{{#sig~}}
{{{@depOpen}~}}
<a href="#{{{anchorName}}}"{{#if class}} class="{{class}}"{{/if}}>
  {{{@codeOpen}~}}
  {{#if @prefix}}{{@prefix}} {{/if~}}
  {{#if (isClassMember)}}{{@parent~}}{{/if~}}
  {{@accessSymbol}}{{#if (isEvent)}}"{{{name}}}"{{else}}{{{name}}}{{/if~}}
  {{~#if @methodSign}}{{#if (isEvent)}} {{@methodSign}}{{else}}{{@methodSign}}{{/if}}{{/if~}}
  {{{@codeClose}}}
</a>
{{~#if @returnSymbol}} {{@returnSymbol}}{{/if~}}
{{#if @returnTypes}} {{>linked-type-list types=@returnTypes delimiter=" \| " }}{{/if~}}
{{#if @suffix}} {{@suffix}}{{/if~}}
{{{@depClose}~}}
{{~/sig}}
{{/if~}}
