{{#if name}}
{{#sig~}}
{{{@depOpen}~}}
<a href="#{{{anchorName}}}"{{#if ./scroll}} data-scroll{{/if}}{{#if ./class}} class="{{./class}}"{{/if}}>
  {{{@codeOpen}~}}
  {{#if @prefix}}{{@prefix}} {{/if~}}
  {{#if (isClassMember)}}{{@parent~}}{{/if~}}
  {{@accessSymbol}}{{#if (isEvent)}}"{{{name}}}"{{else}}{{{name}}}{{/if~}}
  {{~#if @methodSign}}{{#if (isEvent)}} {{@methodSign}}{{else}}{{@methodSign}}{{/if}}{{/if~}}
  {{{@codeClose}}}
</a>

{{#if (or @returnSymbol @returnTypes @suffix)}}<span class="sig-details">
  {{~#if @returnSymbol}} {{@returnSymbol}}{{/if~}}
  {{#if @returnTypes}} <span class="sig-returns">{{>linked-type-list types=@returnTypes delimiter=" \| " }}</span>{{/if~}}
  {{#if @suffix}} <span class="sig-suffix">{{@suffix}}</span>{{/if~}}
</span>{{/if}}
{{{@depClose}~}}
{{~/sig}}
{{/if~}}
