{{#globals kind=kind ~}}
{{#if @first~}}
<div class="{{{option "global-index-class"}}}-nav">
  <h{{headingDepth}} class="{{option "global-index-class"}}-header">{{../title}}</h{{headingDepth}}>
{{/if~}}
  <div class="{{{option "global-index-class"}}}-item">{{#link id~}}
{{~#if url~}}
    <a href="{{url}}" class="{{{option "global-index-class"}}}-link">{{name}}</a>
{{~/if~}}
{{~/link}}</div>
{{#if @last~}}
</div>
{{/if~}}
{{/globals~}}
