{{#globals kind=kind ~}}
{{#if @first~}}
<div class="nav-nav">
<h{{headingDepth}} class="nav-header">{{../title}}</h{{headingDepth}}>
{{/if~}}
<div class="nav-item">{{#link id~}}
{{~#if url~}}
<a href="{{url}}" class="nav-link">{{name}}</a>
{{~/if~}}
{{~/link}}</div>
{{#if @last~}}
</div>
{{/if~}}
{{/globals~}}
